@arcoblue-1: #E8F3FF;
@arcoblue-2: #BEDAFF;
@arcoblue-3: #94BFFF;
@arcoblue-4: #6AA1FF;
@arcoblue-5: #4080FF;
@arcoblue-6: #165DFF;
@arcoblue-7: #0E42D2;

@color-text-1: #1D2129;
@color-text-2: #4E5969;
@color-text-3: #86909C;
@color-text-4: #C9CDD4;
@color-border-2: #E5E6EB;
@color-fill-1: #F7F8FA;
@color-bg-1: #FFFFFF;
